<% include partials/header %>
<a href="/campgrounds/new"> Add a new Campground</a>
<h1>This is campgrouds page</h1>
<% campgrounds.forEach(function(campgrounds){ %>
  <div>
    <h4><%= campgrounds.name %></h4>
    <img src="<%= campgrounds.image %>">
  </div>
<% }); %>
<% include partials/footer %>
